@import "src/app/globals";

#about{
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 10rem;
  background: linear-gradient(180deg , $green, $dark-green);
  #left{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    p{
     font-size: 1.2rem;
    }
  }
  #right{
    position: relative;
    width: 25rem;
    height: 25rem;
    border-radius: 50%;
    overflow: hidden;
    div{
      position: absolute;
      width: inherit;
      height: inherit;
      border-radius: 50%;
      background: rgb(36,201,133);
      background: linear-gradient(0deg, rgba(36,201,133,1) , rgba(25,172,144,1) 100%);
      filter: blur(1rem);
      backdrop-filter: blur(1rem);
    }
    img{
      position: absolute;
      width: 100%;
      height: auto;
    }

  }
}