@import 'src/app/globals.scss';
header{
  z-index: 2;
  background: $green;
  padding: 1rem 4rem;
  display: flex;
  justify-content: space-between;
  img{
    width: 5rem;
    height: auto;
  }
  ul{
    display: flex;
    gap: 2rem;
    li{
      font-size: 2rem;
      list-style: none;
      align-items: center;
      display: flex;
      a{
        text-decoration: none;
        color: $black;
      }
    }
    li:last-child a{
      color: $white;
      background: $black;
      padding: 0.5rem 1rem;
      border-radius: 0.5rem;
    }
    @media screen and (max-width: 860px) {
      display: none;
    }
  }
  div{
    display: none;
    @media screen and (max-width: 860px) {
      display: block;
    }
  }
  @media screen and (max-width: 860px) {
    padding: 1rem 2rem;
  }
}