@import 'src/app/globals.scss';
header{
  z-index: 2;
  background: $green;
  position: fixed;
  right: 0;
  left: 0;
  min-width: 100vw;
  #navigation{
    padding: 1rem 4rem;
    display: flex;
    justify-content: space-between;
    img{
      width: 5rem;
      height: auto;
    }
    #standard{
      display: flex;
      gap: 2rem;
      li{
        font-size: 2rem;
        list-style: none;
        align-items: center;
        display: flex;
        a{
          text-decoration: none;
          color: $black;
        }
      }
      li:last-child a{
        color: $white;
        background: $black;
        padding: 0.5rem 1rem;
        border-radius: 0.5rem;
      }
      @media screen and (max-width: 860px) {
        display: none;
      }
    }
    #hamburger-container{
      display: none;
      width: 10rem;
      @media screen and (max-width: 860px) {
        display: flex;
        justify-content: end;
      }
    }
  }
  #hamburger{
    padding: 1rem 2rem;
    li{
      font-size: 2rem;
      list-style-type: none;
      a{
        text-decoration: none;
      }
    }
  }
}