@import url("https://use.typekit.net/hyh7maa.css");
$white: #FFFAFA;
$black: #02353C;
$green: #24C985;
$dark-green: #19AC90;

*{
  font-family: "trade-gothic-next", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 62.5%;
  color: $black;
  margin: 0;
  //border: red 1px solid;
}

section{
  padding: 4rem 8rem;
  @media screen and (max-width: 650px) {
    padding: 1rem 2rem;
  }
}

html{
  font-size: 1rem;
}

h1{
  font-weight: 800;
  font-size: 9rem;
  i{
    font-style: italic;
    font-weight: 800;
    font-size: 10rem;
    color: $white;

  }
}

h2{
  font-weight: 700;
  font-size: 4rem;

}

h3{
  font-weight: 700;
  font-size: 2.8rem;
}

p{
  font-size: 1rem;
}